<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn about Layouts</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <img
      src="https://lumiere-a.akamaihd.net/v1/images/cg_disney_ahsoka_2339_c3f3ab30.jpeg?region=0,0,800,800&width=480"
    />
    <img
      src="https://lumiere-a.akamaihd.net/v1/images/cg_disneyplus_iamgroot_s2_2346_1955add7.jpeg?region=0,0,800,800&width=480"
    />
    <img
      src="https://lumiere-a.akamaihd.net/v1/images/cg_shopdisney_fallsale_2450_e53ef5be.jpeg?region=0,0,800,800&width=480"
    />
    <img
      src="https://lumiere-a.akamaihd.net/v1/images/cg_dlr_fy2324_halloweentime_2378_6db67f4b.jpeg?region=0,0,800,800&width=480"
    />

    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>

  </body>
</html>
